/* ------------------------------------------------------------------------- */

body {
    font-family: 'Arial', sans-serif;
    background-color: #c7bdac;
    text-align: left;
}

/* ------------------------------------------------------------------------- */

.orders-container {
    display: flex;
    flex-direction: row;

}

/* ------------------------------------------------------------------------- */

.order {
    margin: 20px;
    padding: 20px;
    background-color: #af9781;
    border-radius: 10px;
    width: 10%;
}

/* ------------------------------------------------------------------------- */

.barista-machine-container {
    width: 33%;
    background-color: rgb(230, 226, 216);
}

/* ------------------------------------------------------------------------- */

button {
    background-color: #8d6e63;
    color: white;
    padding: 20px 20px;
    margin: 5px 20px;
    border: none;
    cursor: pointer;   
    width: 30%; /* make the buttons the same size */
}

/* ------------------------------------------------------------------------- */

button:hover {
    background-color: #6d4c41;
}

/* ------------------------------------------------------------------------- */

#pullEspressoAmount {
    display: inline-block;
    margin-left: 20px;
}

/* ------------------------------------------------------------------------- */

#addEspressoBtn {
    float: right;
    text-align: center;
    margin-left: 50px;
    width: 10%;
    border-radius: 20px;
    background-color: #8d7e79;
}

#addEspressoBtn:hover {
    background-color: #6d4c41;
}

/* ------------------------------------------------------------------------- */

#steamMilkDone {
    display: inline-block;
    margin-left: 20px;
}

#addSteamMilkBtn {
    float: right;
    text-align: center;
    margin-left: 50px;
    width: 10%;
    border-radius: 20px;
    background-color: #8d7e79;
}

#addSteamMilkBtn:hover {
    background-color: #6d4c41;
}

/* ------------------------------------------------------------------------- */

#foamMilkDone {
    display: inline-block;
    margin-left: 20px;
}

#addFoamMilkBtn {
    float: right;
    text-align: center;
    margin-left: 50px;
    width: 10%;
    border-radius: 20px;
    background-color: #8d7e79;
}

#addFoamMilkBtn:hover {
    background-color: #6d4c41;
}

/* ------------------------------------------------------------------------- */

#hotWaterDone {
    display: inline-block;
    margin-left: 20px;
}

#addHotWaterBtn {
    float: right;
    text-align: center;
    margin-left: 50px;
    width: 10%;
    border-radius: 20px;
    background-color: #8d7e79;
}

#addHotWaterBtn:hover {
    background-color: #6d4c41;
}

/* ------------------------------------------------------------------------- */

.drinkBeingMade-container {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------- */